BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #121212;
	LINE-HEIGHT: 1.3;
	PADDING-TOP: 0px;
	FONT-FAMILY: Tahoma, Arial, sans-serif
}
TD {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #121212;
	LINE-HEIGHT: 1.3;
	PADDING-TOP: 0px;
	FONT-FAMILY: Tahoma, Arial, sans-serif
}
P {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #121212;
	LINE-HEIGHT: 1.3;
	PADDING-TOP: 0px;
	FONT-FAMILY: Tahoma, Arial, sans-serif
}
TR {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #121212;
	LINE-HEIGHT: 1.3;
	PADDING-TOP: 0px;
	FONT-FAMILY: Tahoma, Arial, sans-serif
}
TABLE {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #121212;
	LINE-HEIGHT: 1.3;
	PADDING-TOP: 0px;
	FONT-FAMILY: Tahoma, Arial, sans-serif
}
BODY {
	MARGIN: 18px 14px
}
HTML {
}
A:link {
	FONT-SIZE: 12px;
	COLOR: #326d9b;
	FONT-FAMILY: Tahoma, Arial, sans-serifline-height: 1.2;
	TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px;
	COLOR: #326d9b;
	FONT-FAMILY: Tahoma, Arial, sans-serifline-height: 1.2;
	TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px;
	COLOR: #326d9b;
	FONT-FAMILY: Tahoma, Arial, sans-serifline-height: 1.2;
	TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px;
	COLOR: #255377;
	FONT-FAMILY: Tahoma, Arial, sans-serifline-height: 1.2;
	TEXT-DECORATION: none
}
FORM {
	MARGIN: 0px
}
.frame {
	BORDER-RIGHT: #ffffff 2px solid;
	BORDER-TOP: #ffffff 2px solid;
	BORDER-LEFT: #ffffff 2px solid;
	BORDER-BOTTOM: #ffffff 2px solid
}
.frame_m {
	BORDER-RIGHT: #ececec 2px solid;
	BORDER-TOP: #ececec 2px solid;
	BORDER-LEFT: #ececec 2px solid;
	BORDER-BOTTOM: #ececec 2px solid
}
.into {
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid
}
.into_m {
	BORDER-RIGHT: #bbbbbb 1px solid;
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid;
	BORDER-BOTTOM: #bbbbbb 1px solid
}
.padding4 {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	LINE-HEIGHT: 1.2;
	PADDING-TOP: 4px
}
.padding4a {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 4px;
	LINE-HEIGHT: 1.2;
	PADDING-TOP: 4px
}
.padding6 {
	PADDING-RIGHT: 6px;
	PADDING-LEFT: 6px;
	PADDING-BOTTOM: 6px;
	LINE-HEIGHT: 1.2;
	PADDING-TOP: 6px
}
.margin {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 7px;
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 1.2;
	PADDING-TOP: 2px
}
